        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-image: url(images/backgroundLatihan.jpg);
            background-repeat: no-repeat;/*mencegah gambar latar diulang*/
            background-size: cover; /*membuat gambar latar menutupi seluruh area layar*/
            background-position: center; /*memusatkan posisi gambar latar*/
            background-attachment: fixed; /*membuat latar tidak ikut scroll(tetap ditempat)*/
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center; /*memusatkan konten secara horizontal*/
            align-items: center; /*memusatkan konten secara vertikal*/
            min-height: 100vh;
        }

        .form-container {
            background-color: #ffffff;
            padding: 30px 40px;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
        }

        h2 {
            text-align: center;
            margin-bottom: 25px;
            color: #333;
        }

        .form-group {
            margin-bottom: 2px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: 600;
            color: #555;
        }

        input[type="text"],
        input[type="number"],
        input[type="password"] { /*untuk mengatur ukuran kotak pada codingan password*/
            width: 100%;
            padding: 12px 15px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 16px;
            transition: border-color 0.3s;
        }

        input[type="text"]:focus,
        input[type="number"]:focus,
        input[type="password"]:focus {
            border-color: #007BFF;
            outline: none;
        }

        button {
            width: 100%;
            padding: 12px;
            background-color: #007BFF;
            border: none;
            color: white;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }

        @media (max-width: 500px) {
            .form-container {
                padding: 20px;
            }
        }